:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

nav section {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: white;
}

.login-btn {
  border: 1px solid rgba(255, 255, 255, 0.87);
  cursor: pointer;
  width: 4rem;
  text-align: center;
  border-radius: .25rem;
}

.login-btn:hover {
  color: #242424;
  background: rgba(255, 255, 255, 0.87);
  font-weight: 600;
}

.app-container {
  display: flex;
  gap: 1rem;
}

.sidebar div {
  margin: .5rem 0 .5rem .75rem;
  cursor: pointer;
}

.sidebar div:hover {
  color: white;
}

.sidebar h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.5rem;
}